In [15]:
import pandas as pd
from rdkit import Chem
import datamol as dm

In [16]:
df = pd.read_csv('./drugbank_re.csv', engine='pyarrow', dtype_backend='pyarrow')

In [17]:
df.head()

      type drugbank_id                 name inchi
0  biotech     DB00001            Lepirudin  <NA>
1  biotech     DB00002            Cetuximab  <NA>
2  biotech     DB00003         Dornase alfa  <NA>
3  biotech     DB00004  Denileukin diftitox  <NA>
4  biotech     DB00005           Etanercept  <NA>

In [18]:
df.shape

(16581, 4)

There are 16581 distinct drug

In [4]:
df.type.unique()

<ArrowExtensionArray>
['biotech', 'small molecule']
Length: 2, dtype: string[pyarrow]

In [14]:
(df
 .query("type == 'small molecule'")
 .query("inchi.notna()")
 .shape
)

(11928, 4)